<div class="glossary">
    <div class="innertext">
        <div class="closebutton"><i class="fa fa-times" aria-hidden="true">&zwj;</i>
        </div>
        <div class="displaysection">
            <div class="namesection">

            </div>

        </div>
        <div class="scrollsection hidescreen">
            <div id="tony-text" class="namesection">
                <div class="bioImage">
                    <img src="http://media.philly.com/images/RS_600x800_20170710_PSNOW02_b.jpg" alt="">
                    <!-- <div class="containerPhotoCredit">Woodfield family</div> -->
                </div>
                <div class="flexwrap">
                    <div class="name">Anthony &ldquo;Tony&rdquo; Woodfield</div>
                    <div class="info">16, of Rye, N.Y., Berkshire School, Mass.  </div>
                </div>
            </div>
            <div id="billy-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170622_PSNOW02_hh.jpg" alt="">
                    <!-- <div class="containerPhotoCredit">Family portrait</div> -->
                </div>
                <div class="flexwrap">
                    <div class="name">William P. “Billy” Watts Jr.</div>
                    <div class="info">16, of Whitemarsh, Westminster School, in Connecticut, formerly of Chestnut Hill Academy.</div>
                </div>
            </div>
            <div id="miles-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170710_Miles_Marble_in_7th_grade.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Miles Marble</div>
                    <div class="info">12, of Collegeville, Germantown Friends School in Philadelphia, his parents’ only child.</div>
                </div>
            </div>
            <div id="peter-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_PSNOW02_mm.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Peter V.  Smith</div>
                    <div class="info">13, of Paoli, Haverford School.</div>
                </div>
            </div>
            <div id="ricky-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170710_Ricky_Balis.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Richard J. “Ricky” Balis</div>
                    <div class="info">13, of Mt. Airy, twin of  J. Townsend Balis, Chestnut Hill Academy.</div>
                </div>
            </div>
            <div id="townsend-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170710_Towny_Balis.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">J. Townsend &ldquo;Towny&rdquo; Balis</div>
                    <div class="info">13, of Mt. Airy, twin of Richard J. Balis, Chestnut Hill Academy.</div>
                </div>
            </div>
            <div id="frederic-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_700x800_20170711_0OSY0NWL.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Frederic &ldquo;Ricky&rdquo; Ballard</div>
                    <div class="info">13, of Chestnut Hill, Chestnut Hill Academy.</div>
                </div>
            </div>
            <div id="buzzy-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170711_0OSY1MGL.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Luther &ldquo;Buzzy&rdquo; Seddon</div>
                    <div class="info">13, of St. Louis.</div>
                </div>
            </div>
            <div id="terry-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170710_PSNOW02_f.jpg" alt="">
                    <!-- <div class="containerPhotoCredit">Clattenburg family</div> -->
                </div>
                <div class="flexwrap">
                    <div class="name">Theodore “Terry” Clattenburg Jr.</div>
                    <div class="info">14, of Mount Airy, Chestnut Hill Academy.</div>
                </div>
            </div>
            <div id="david-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_PSNOW02_a.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">David Chapin</div>
                    <div class="info">15, of Stamford, Conn., Berkshire School, Mass.</div>
                </div>
            </div>
            <div id="willie-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170622_PSNOW02_A_391061923.JPG" alt="">
                    <!-- <div class="containerPhotoCredit">Yearbook from the Penn Charter School</div> -->
                </div>
                <div class="flexwrap">
                    <div class="name">William H. “Willie” Wise 2nd</div>
                    <div class="info">15, of Souderton, Penn Charter School.</div>
                </div>
            </div>
            <div id="william-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_PSNOW09_nn.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">William E. Kershaw</div>
                    <div class="info">32, of Chestnut Hill, founded Wilderness Travel School, taught at Chestnut Hill Academy.</div>
                </div>
            </div>
            <div id="don-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170710_PSNOW04_tt.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Oliver Donald “Don” Dickerson Jr.</div>
                    <div class="info">29, of Mt. Airy, lecturer at the Wharton School, co-owner of Wilderness Travel Camp.</div>
                </div>
            </div>
            <div id="bill-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170710_Bill_Oeser.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">William H. “Bill“ Oeser</div>
                    <div class="info">28, of  Mt. Airy, a Penn State graduate and junior high teacher in Baltimore.</div>
                </div>
            </div>
            <div id="walter-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_V190_I.V.A.ii_3_NA_95.tif.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Walter Perren</div>
                    <div class="info">nicknamed “the spider of Zermatt“, Swiss-born mountaineer who founded the rescues service for the Canadian Rockies.</div>
                </div>
            </div>
        </div>
        <div class="seeMore">See all bios <i class="fa fa-arrow-right" aria-hidden="true">&zwj;</i>
        </div>
    </div>
</div>
