<div class="glossary">
    <div class="innertext">
        <div class="closebutton"><i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="displaysection">
            <div class="namesection">

            </div>

        </div>
        <div class="scrollsection hidescreen">
            <div id="tony-text" class="namesection">
                <div class="bioImage">
                    <img src="http://media.philly.com/images/RS_600x800_20170622_TonyWoodfield_Berkshire_Yearbook_age_18.JPG" alt="">
                    <div class="containerPhotoCredit">Woodfield family</div>
                </div>
                <div class="flexwrap">
                    <div class="name">Anthony &ldquo;Tony&rdquo; Woodfield</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="billy-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170622_PSNOW02_hh.jpg" alt="">
                    <div class="containerPhotoCredit">Family portrait</div>
                </div>
                <div class="flexwrap">
                    <div class="name">Billy Watts</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="miles-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_x_20170627_Miles_Marble_in_7th_grade.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Miles Marble</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="peter-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_PSNOW02_mm.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Peter Smith</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="ricky-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_x_20170626_Ricky_Balis.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Ricky Balis</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="townsend-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_x_20170626_Towny_Balis.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Townsend &ldquo;Towny&rdquo; Balis</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="frederick-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x650_20170626_PSnowXX_ii_394525350.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Frederick &ldquo;Ricky&rdquo; Ballard</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="buzzy-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_LutherSeddon_13_portrait.JPG" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Luther &ldquo;Buzzy&rdquo; Seddon</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="terry-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170622_PSNOW02_f.jpg" alt="">
                    <div class="containerPhotoCredit">Clattenburg family</div>
                </div>
                <div class="flexwrap">
                    <div class="name">Terry Clattenburg</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="david-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_PSNOW02_a.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">David Chapin</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="willie-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170622_PSNOW02_A_391061923.JPG" alt="">
                    <div class="containerPhotoCredit">Yearbook from the Penn Charter School</div>
                </div>
                <div class="flexwrap">
                    <div class="name">Willie Wise</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="william-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_PSNOW09_nn.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">William &ldquo;Bill&rdquo; Kershaw</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="don-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x1000_20170627_Don_Dickerson.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Don Dickerson</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="bill-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x1000_20170627_Bill_Oeser.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Bill Oeser</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div id="walter-text" class="namesection">
                <div class="bioImage"><img src="http://media.philly.com/images/RS_600x800_20170627_V190_I.V.A.ii_3_NA_95.tif.jpg" alt=""></div>
                <div class="flexwrap">
                    <div class="name">Walter Perren</div>
                    <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
        </div>
        <div class="seeMore">See all bios <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </div>
</div>
